.Header.navbar {
  margin-bottom: 1em;
  align-items: baseline;

  .brand {
    font-size: 2.3em;
    font-family: 'Quicksand', sans-serif;
    color: #b36262;
  }

  .btn {
      margin-left: 3em;
      background-color: #c77373;
      border-color: #9e5959;
  }
}