.Loader {
    .heading {
        position: absolute;
        top: 9.2em;
        left: 50%;
        transform: translate(-50%, 0);
    }

    .spinner {
        position: absolute;
        top: 9em;
        left: 50%;
        transform: translate(-50%, 0);
    }
}