.TokenPage {
  .heading {
    margin-left: 0.6em;
    color: #6c757d;
    text-align: left;
  }

  .card-container {
    height: 28em;
    display: flex;
    margin-top: 4em;
    justify-content: center;
  }

  .card {
    width: 25em;
    border-left: none;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  .card-img {
    width: 33em;
    object-fit: cover;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-right: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  .list-group {
    border-top: 1px solid rgba(0, 0, 0, 0.125);
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
    text-align: left;
  }

  .card-subtitle {
      font-weight: 300;
  }

  .btn.margin-left {
    margin-left: 1em;
  }
}
