{ 
  server = { 
    port = 8085, 
    host = "0.0.0.0" 
  },
  faucet = {
    mint = {
      tokens = ["coinA", "coinB", "coinC"],
      quantity = 1002,
    },
    wallet = {
        address = "addr_test1qrexdmlktfa55uddpm0s79yfaht9c77h0qm0nd224hndqaea055p66w7gjp65zusx40xfl6q9eng4x6l3vxg9rhf5nrs08c6r2",
        skey = "/home/ssledz/git/iohk-dev/.cardano-wallets/9c70aac3-1445-4b67-9d70-39cbd4bbb347/payment.skey",
        lovelace = 1500000
    }
  },
  node = {
    magic = "1097911063",
    network = "Testnet",
    socket = {
      path = "/home/ssledz/.cardano-node/node-ipc/socket"
    }
  }
}
