.content {
  display: flex;
  max-width: 1300px;

  &__statistics {
    width: 40%;
  }

  &__contracts {
    width: 60%;
  }

  &__contracts-list {
    display: flex;
    justify-content: space-evenly;
  }
}

.nft {
  border: 1px solid black;
  padding-left: 20px;
}
