.Game {
  color: #4a4a4a;
  display: flex;
  justify-content: space-around;
  padding: 0 5em;

  .team {
    width: 35%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .img {
    width: 100%;
  }

  .img-border {
    width: 80%;
    border: 4px dotted #878787;
    border-radius: 50%;
    padding: 2em;

    &.winner {
      border-color: #23b06e;
    }

    &.defeated {
      border-color: rgba(220, 52, 68, 1);
    }
  }

  .game-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2.5em;
  }

  .status {
    padding: 0.5em 2em;
    border-radius: 5px;
    font-size: 20px;
    margin-bottom: 2em;

    &.live {
      border: 1px solid rgba(255, 192, 7, 1);
      color: rgba(255, 192, 7, 1);
    }

    &.closed {
      border: 1px solid rgba(220, 52, 68, 1);
      color: rgba(220, 52, 68, 1);
    }

    &.open {
      border: 1px solid rgba(25, 135, 83, 1);
      color: rgba(25, 135, 83, 1);
    }

    &.canceled {
      border: 1px solid rgba(128, 128, 128, 1);
      color: rgba(128, 128, 128, 1);
    }
  }

  .date {
    font-size: 20px;
    font-weight: bold;
  }

  .referee {
    font-size: 20px;
    font-weight: 300;
    margin-bottom: 2em;
  }
}

.bets-loader-container {
  position: relative;
}
