.Login {
  height: 100vh;
  .form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40%;
    text-align: center;
  }

  .button {
      margin-top: 1em;
  }
}
