.ConfirmModal {
    .modal-body {
      padding-bottom: 0.2em;
    }
  
    .modal-footer {
      justify-content: space-between;
    }
  
    .btn-danger {
      background-color: #c77373;
      border-color: #9e5959;
    }
  }
  