.TokensList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  .token-link:hover {
    text-decoration: none;
  }

  .card {
    width: 18rem;
    margin: 1em;

    .image {
      height: 16em;
      object-fit: cover;
    }

    .card-body {
      display: flex;
      justify-content: space-between;
      color: black;
  
      .name {
        text-align: left;
      }
  
      .price {
        text-align: right;
      }
    }
  }
}
